/*

Colors:
Header & footer: #273960
background: #dde2e3;
font: white, floralwhite;
optional: #095270;
*/


/* Global Styles */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #dde2e3;
    height: 100vh;
}

.title {
    font-family: 'Patrick Hand', cursive;
	color: floralwhite;
	
}


.jumbotron {
    background-color: white; 
}

.h1 {
    text-align: left;
	font-weight: 700;
	color: #273960;
	font-family: 'Domine', serif;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 300px) { 

    .h1 {
        font-size: 30px;
        margin: 15px auto;
        padding-left: 10px;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    
    .h1 {
        font-size: 30px;
        margin: 15px auto;
        padding-left: 10px;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    
    .h1 {
        font-size: 40px;
        margin: 20px auto;
        padding-left: 15px;
    }

}

/*
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

/* Navigation */



.navbar {
    background-color: #273960;
    color: white;
    padding: 1em;
    margin: none;
}

.navbar-light .navbar-brand {
    background:#273960;
    color: white;
}

.navbar-brand {
    font-family: 'Berkshire Swash', cursive;
    width: auto;
    padding: 0 15px 0 15px ;
    font-weight: 400; 
}

.nav-link {
    color: white;
    margin: 0 0.2rem;
}

.nav-tabs {
    border: none;
}

.icon {
    width: 20%;
    height: 20%;
    margin: 30px 0 15px 0;
}

.navbar-toggler {
    background-color: white;
}

@media (max-width: 430px) {
  
    .nav {
        display: block;
        text-align: center;
    }
    
}

@media (max-width: 769px) {
    .navbar {
        padding: 0.6em;
    }
}
/*


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/


/* Home */



.logoname {
	font-family: 'Berkshire Swash', cursive;
	font-stretch: ultra-condensed;
}

.carousel-img {
    width: 100%;
    height: 85vh;
	background-size: cover;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.8);
    width: auto;
    height: 90%;
    padding: 20px;
    position : absolute;
    right: 15%;
    left: 15%;
}

.icon {
    margin: 15px 0;
}


/*// Small devices (landscape phones, 576px and up)*/
@media (max-width: 426px) { 

    .logoname {
        font-size: 40px;
    }
    
    .icon {
        width: 40%;
        height: 40%;
    }
    
    h2 {
        font-size: 1.3rem;
    }
    
    p.justify {
        font-size: 0.8rem;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 

    .logoname {
        font-size: 45px;
    }
    
    .icon {
        width: 20%;
        height: 20%;
    }
    
     h2 {
        font-size: 1.6rem;
    }
    
   p.justify  {
        font-size: 0.6rem;
    }
    
   
}

/*
// Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

     .logoname {
        font-size: 55px;
    }
    
    .icon {
        width: 20%;
        height: 20%;
    }
    
     h2 {
        font-size: 1.8rem;
    }
    
    p.justify  {
        font-size: 1rem;
    }
   
}


/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

    .logoname {
        font-size: 70px;
    }
    
    .icon {
        width: 20%;
        height: 20%;
    }
    
     h2 {
        font-size: 2rem;
    }
    
    p.justify  {
        font-size: 1.2rem;
    }
    
  
}

/*
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

/* About US */



.lead {
	text-align: center;
	border-bottom: 10px;
	font-weight: normal;
}

.display_3 {
	margin-bottom: 10px;
	font-weight: bold;
}

.about-jumbotron {
    padding: 2em 1em;
    color: #273960;
}

@media (max-width: 426px) { 

    p.lead {
        font-size: 1rem;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

    p.lead {
        font-size: 1rem;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

    p.lead {
        font-size: 1.25rem;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

    p.lead {
        font-size: 1.25rem;
    }
}

/*
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/



/* Our Menu */



.lead {
  color: #273960;
}

.panel-title {
    
	padding: 20px 0 0 0;
	border-bottom: 1px solid;
	border-bottom-style: dotted;
	color: #273960;
	font-size: 35px;
}

.list-group {
    margin-bottom: 25px;
    padding-left: 15px;
}

li.lead.list-group-item {
	text-align: left;
}

.badge-dark {
    background-color:#273960; 
}

@media (max-width: 426px) { 

    li.lead {
        font-size: 1rem;
    }
    
    h2.panel-title {
        font-size:28px;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

    li.lead {
        font-size: 1rem;
    }
    
     h2.panel-title {
        font-size: 30px;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

    li.lead {
        font-size: 1.25rem;
    }
    
     h2.panel-title {
        font-size: 35px;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

    li.lead {
        font-size: 1.25rem;
    }
    
     h2.panel-title {
        font-size: 35px;
    }
}


/*Our Chefs Section*/


.chef-img {
    height: 260px;
    width: 100%;
   
}

.thumbnail {
	padding: 2px;
	margin: 2px;
	text-align: justify;
}

.container {
	margin-top: 10px;
	margin-bottom: 10px;
}

.jumbotron {
	padding: 2em;
	width: 100%;
	border-radius: 15px;
    margin: 16px 0;
}

.display_2 {
	border-bottom: 2px solid;
	margin: 2px 0 2px 0;
}

.chef {
    display: inline-flex;
    margin-bottom: 2rem;
}


@media (max-width: 576px) { 

    .chef {
        display: block;
    }
    
    
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 

    .chef {
        display: inline-flex;
    }
    
    .jumbotron {
        margin: 0;
        padding: 1em;
    }

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

    .chef {
        display: inline-flex;
    }
    
    .jumbotron {
        margin: 0;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

    .chef {
        display: inline-flex;
    }
    
    .jumbotron {
        margin: 16px 0;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
/*@media (min-width: 1200px) { ... }*/


/* Book Your Table Section */

.list-group-item {
   	border-top: 0;
    border-bottom: 2px solid;
    border-right: 0;
    border-left: 0;
}

.form {
    padding: 15px;
    color: #273960;
	font-weight: 600;
}

.custom-control-indicator {
    background-color: white;
}


/* Location */


.contact {
	height: 100vh;
	color: white;
}

.location {
    padding: 2rem;
    font-family:'Open Sans', sans-serif;
	text-align: center;
		
}

.locationImage {
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)) ,
		url('../images/locationimage.jpeg');
	background-position: 80% 32%;
	background-size: cover;
	border-radius: 1.5rem;
    height: 100%;
}

.address {
	font-size: 1.5em;
	font-weight: 600;
	color: white;
}


/* footer */

.footer {
	font-size: 20px;
	color: white;
	text-align: center;
	background-color:#273960;
	padding: 10px 0;
}